service: blog-api

provider:
  name: aws
  runtime: nodejs18.x
  region: us-east-1
  stage: local

functions:
  app:
    handler: src/app.handler
    events:
      - http:
          path: /
          method: ANY
      - http:
          path: "{proxy+}"
          method: ANY

plugins:
  - serverless-offline

custom:
  serverless-offline:
    noPrependStageInUrl: true
    httpPort: 8080

package:
  exclude:
    - node_modules/**
